<ul>
<% @peeps.each do |peep| %>
  <li>
    <article>
    <header>
      <h1></h1>
    </header>
    <p><%= peep.content %></p>
    <aside>
      <ul>
        <% if peep.user %>
        <%= peep.user.username + '  ' + peep.user.email %>
        <% end %>
      </ul>
    </aside>
    </article>
  </li>
<%end%>
</ul>