<ul>
<% @peeps.each do |peep| %>
  <li>
    <article>
    <header>
      <h1></h1>
    </header>
    <p><%= peep.content %></p>
    <aside>
      <ul>
          <%= "peeped by " + peep.user.name + ", a.k.a " + peep.user.username %>
      </ul>
    </aside>
    </article>
  </li>
<%end%>
</ul>